.dislike {
   margin-right: 5px;
   display: inline-block;
   height: 25px;
   cursor: pointer;
   vertical-align: middle;
}

.dislike::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 25px;
   height: 25px;
   background-image: url("../../../assets/thumbs-down-50px-icon.png");
   background-size: cover;
   margin-right: 5px;
}

.dislike:hover::before {
   content: "";
   background-image: url("../../../assets/thumbs-down-50px-icon-hover.png");
}
