.container {
	max-width: var(--container-width);
	margin: 0 auto;
}

.header {
	margin-bottom: 20px;
}

.profile_wrapper {
	padding: 20px 10px;
	background-color: #404040;
	height: 40vh;
	h2 {
		color: #fff;
	}
}

.main_user_info {
	display: flex;
	align-items: center;
}

.profile_bg_img {
	margin-bottom: 20px;
}

.profile_avatar_img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.imageContainer {
	position: relative;
	display: inline-block;
}

.imageContainer:hover {
	background-color: rgba(0, 0, 0, 0.5); /* Притемнение фона */
}

.uploadText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	display: none;
}

.imageContainer:hover .uploadText {
	display: block;
}
