.container {
	max-width: var(--container-width);
	margin: 0 auto;
}

.profile_wrapper {
	position: relative;
	padding: 20px 10px;
	background-color: #404040;
	height: 40vh;
	h2 {
		color: #fff;
	}
}

.edit_btn {
	top: 0;
	right: 0;
	position: absolute;
	background: transparent;
	background-image: url("../../../assets/edit_modify_icon-black.png");
	height: 75px;
	width: 75px;
	border: none;
	outline: none;
	background-repeat: no-repeat;
}

.modal_wrapper{
	padding: 10px;
}

.modal_container{
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
	margin-bottom: 40px;
}

.modal_container_input{
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.btn_container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}