@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.toast {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 300px;
	// border-radius: 8px;
	opacity: 0;
	z-index: 1000;
	animation: slideInFromBottom 0.5s ease-in-out forwards;
	p {
		text-align: center;
	}
}

.caption {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 400;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	// border-bottom: 2px solid #ff6666;
	border-bottom: 2px solid #9954d8;

	.exclamation_mark {
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		font-weight: 700;
		font-size: 18px;
		margin-right: 5px;
		color: #ff6666;
	}
}

.message {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300px;
}

.toast.show {
	opacity: 1;
}

.toast.hide {
	display: none;
}
