@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.toast {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 300px;
	z-index: 1000;
	p {
		text-align: center;
	}
}

.caption {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 400;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;

	.exclamation_mark {
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		font-weight: 700;
		font-size: 18px;
		margin-right: 5px;
		color: #ff6666;
	}
}

.message {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300px;
}

.toast.show {
	animation:
		slideInFromBottom 0.3s ease-in-out forwards,
		fadeIn 0.45s ease-in-out;
}

.toast.hide {
	display: none;
}
