.avatar_and_username {
   display: flex;
   align-items: center;
   margin-bottom: 50px;
}

.profile_avatar_img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   transition: background-color 0.3s ease;
   transition: filter 0.4s ease;
}

.imageContainer {
   border-radius: 50%;
   position: relative;
   display: inline-block;
   margin-right: 25px;
}

.imageContainerAnotherUser {
   border-radius: 50%;
   display: inline-block;
   margin-right: 25px;
}

.imageContainer:hover {
   cursor: pointer;
}

.imageContainer:hover .profile_avatar_img {
   filter: brightness(0.4);
}

.uploadText {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 20px;
   display: none;
}

.imageContainer:hover .uploadText {
   display: block;
}

.title_username {
   font-size: 36px;
   font-weight: 700;
   margin-right: 10px;
}

.badge_list {
   display: flex;
   align-items: center;
   gap: 10px;
}

.badge {
   font-family: "Baloo-Regular";
   border-radius: 5px;
   padding: 4px 18px;
   font-size: 14px;
   line-height: 18px;
   color: #000;
   letter-spacing: 1.2;
}

.badge.ADMIN {
   background-color: #ff6666;
}
.badge.USER {
   background-color: #fff;
}
.badge.PREMIUM {
   background-color: gold;
}
.badge.MODERATOR {
   background-color: green;
}
.badge.BANNED {
   background-color: black;
}
.badge.DELETED {
   background-color: gray;
}
.badge.GUEST {
   background-color: lightgray;
}
.badge.UNKNOWN {
   background-color: darkgray;
}
