{
	"tabWidth": 3,
	"useTabs": true,
	"prettier.arrowParens": "always",
	"prettier.bracketSameLine": false,
	"prettier.bracketSpacing": true,
	"prettier.embeddedLanguageFormatting": "auto",
	"prettier.enable": true,
	"prettier.enableDebugLogs": false,
	"prettier.endOfLine": "lf",
	"prettier.htmlWhitespaceSensitivity": "css",
	"prettier.insertPragma": false,
	"prettier.jsxSingleQuote": false,
	"prettier.printWidth": 80,
	"prettier.proseWrap": "preserve",
	"prettier.quoteProps": "as-needed",
	"prettier.semi": true,
	"prettier.singleAttributePerLine": false,
	"prettier.singleQuote": false,
	"prettier.trailingComma": "es5",
	"prettier.useEditorConfig": true
}
