.logo {
	background-color: #ff6666;
	border-radius: 15px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 156px;
	height: 48px;

	p {
		font-family: "Baloo", sans-serif;
		font-size: 36px;
	}
}
