.header {
   border-bottom: 5px solid #f66;
   background-color: #343a40;

   .container_header {
      max-width: var(--container-width);
      margin: 0 auto;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
   }
}

.modal_content_block{
   max-height: 70vh;
   overflow-y: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 15px;
}

.modal_img{
   max-width: 100%;
   width: auto;
}