.anitopia_rules_title {
   font-family: "Franklin Gothic Heavy", sans-serif;
   font-size: 32px;
   line-height: 36px;
   text-align: center;
   margin-bottom: 20px;
}

.rule_title_of_topic {
   font-family: "Franklin Gothic Heavy", sans-serif;
   font-size: 28px;
   line-height: 32px;
   margin-bottom: 40px;
}

.rules_list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 50px;
}
