.wrapper {
   width: 100%;
}

.header_container {
   background-color: #343a40;
   padding: 9px 0;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;

   .header_title {
      color: #fff;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 24px;
      line-height: 27px;
      text-align: center;
   }
}

.children_section {
   max-height: 430px;
   border-bottom-left-radius: 8px;
}
