.anime_season {
   margin-bottom: 25px;
}

.anime_season_inner {
   background-color: #343a40;
   padding: 10px 0;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;

   .anime_season_title {
      font-size: 24px;
      line-height: 27px;
      font-family: "Baloo", sans-serif;
      font-weight: 600;
      color: #fff;
      text-align: center;
   }
}

.slider_anime_season {
   display: flex;
   width: 100%;
}

.updated_and_released_anime {
   display: flex;
   gap: 30px;
   margin-bottom: 25px;
}
