.wrapper {
   background-color: #e2e2e2;
   // background-image: url("../assets/main-background.jpg");
   background-size: cover;
   // background-repeat: no-repeat;
   background-attachment: fixed;
   // background-position: center;
   min-height: 100vh;
   padding-bottom: 25px;
}

.container {
   max-width: var(--container-width);
   margin: 0 auto;
   padding-top: 25px;
}

.anime_season {
   margin-bottom: 25px;
}

.anime_season_inner {
   background-color: #343a40;
   padding: 10px 0;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;

   .anime_season_title {
      font-size: 24px;
      line-height: 27px;
      font-family: "Franklin Gothic Medium", sans-serif;
      color: #fff;
      text-align: center;
   }
}

.slider_anime_season {
   display: flex;
   width: 100%;
}

.updated_and_released_anime {
   display: flex;
   gap: 30px;
}
