.card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 20px;
   background-color: #fff;
   border-bottom: 1px solid #343a40;

   &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
   }

   .poster_and_title {
      display: flex;
      align-items: center;

      .poster {
         height: 48px;
         width: 48px;
         border-radius: 30px;
         margin-right: 18px;
      }

      .title {
         font-family: "Franklin Gothic Medium", "Regular", sans-serif;
         font-weight: 100;
         font-size: 20px;
         line-height: 27px;
         color: #000;
         max-width: 400px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
   }

   .episode_and_type {
      display: flex;
      flex-direction: column;
      align-items: center;

      .episode {
         font-family: "Franklin Gothic Medium", sans-serif;
         color: #000;
         font-size: 18px;
         line-height: 20px;
      }

      .type {
         font-family: "Franklin Gothic Medium", sans-serif;
         line-height: 18px;
         font-size: 16px;
         color: #9a9a9a;
      }
   }
}
