.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.img {
	max-width: 600px;
	width: 100%;
	margin-top: 20px ;
}

.text {
	text-align: center;
	margin-bottom: 40px;
	font-size: 54px;
	font-family: "Franklin Gothic Heavy", sans-serif;
	font-weight: 500;
	color: #343a40;
	line-height: 60px;
}
