.container_user_data {
	display: flex;
	gap: 20px;
}

.user_data_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.user_data_list {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}
