.button {
	color: #000;
	padding: 12px 48px;
	background-color: #fff;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 24px;
	line-height: 24px;
}

@media screen and (max-width: 1440px) {
	.button {
		padding: 12px 36px;
		font-size: 18px;
	}
}
