.animeCard {
  display: flex;
  border: 1px solid #ff6666;
  height: 250px;
  width: 1000px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: box-shadow  1s ease, background-color  1s ease, border-color  1s ease;
  background-color: white;
  cursor: pointer;
}

.animeCard:hover {
  box-shadow:  0  4px  8px rgba(0,  0,  0,  0.1);
  background-color: #f8f8f8;
  border-color: #ddd;
}

.content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", sans-serif;

  h3 {
    color:black;
    margin-top: 10px;
    font-size: 20px;
    transition: color 0.5s ease;
    cursor: pointer;
  }

  h3:hover {
    color: #ff6666;
  }

  .anime__description {
    margin: 0.5rem 0;
    font-size: 12px;
    color: #333;
    max-height: 200px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: justify;
  }

  .anime__description::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    width: 50px;
    height: 1rem;
  }


  .anime__genres {
    color: black;
    margin: 10px 0;
  }

  span {
    bottom: 0;
    font-size: 0.8rem;
    color: #777;
  }
}
