.animeCard {
  display: flex;
  border: 1px solid #ff6666;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  background-color: white;
}

.image {
  max-width: 150px;
  max-height: 280px;
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
  cursor: pointer;
}

.content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Franklin Gothic Medium", sans-serif;

  h3 {
    margin: 0;
    font-size: 20px;
  }

  /*  .anime__description {
      margin: 0.5rem 0;
      font-size: 12px;
      color: #333;
      max-height: 200px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }*/

  .anime__description {
    margin: 0.5rem 0;
    font-size: 12px;
    color: #333;
    max-height: 200px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: justify;
  }

  .anime__description::after {
    content: ""; /* Добавляем пустой элемент для троеточия */
    position: absolute;
    bottom: 0; /* Размещаем внизу */
    right: 0; /* Размещаем справа */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%); /* Градиентный фон для плавного перехода */
    width: 50px; /* Ширина элемента */
    height: 1rem; /* Высота элемента (можно настраивать) */
  }


  .anime__genres {
    margin: 10px 0;
  }

  span {
    font-size: 0.8rem;
    color: #777;
  }
}
