.form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.input {
   box-sizing: border-box;
   border: 1px solid #cccccc;
   width: 80%;
   border-radius: 10px;
   outline: none;
   font-size: 20px;
   padding: 8px 0 8px 8px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.input::placeholder {
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 20px;
   line-height: 24px;
   color: #cccccc;
}
