.form {
   width: 100%;
   display: flex;
   box-sizing: border-box;
   justify-content: center;
   //align-items: center;
}

.input {
   box-sizing: border-box;
   width: 50%;
   height: 40px;
   border-radius: 10px;
   line-height: 35px;
   outline: none;
   font-size: 20px;
   padding-left: 20px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.input::placeholder {
   text-align: center;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 20px;
   color: #cccccc;
}
