.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 1440px) {
   .navbar {
      width: 100%;
   }
}

@media screen and (max-width: 1024px) {
   .navbar {
      width: 100%;
   }
}
