.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.modal_active {
	opacity: 1;
	pointer-events: all;
}

.modal_content {
	border-radius: 12px;
	background-color: #fff;
	transform: scale(0.5);
	transition: 0.4s all;
	width: 50vw;
}

.modal_content_active {
	transform: scale(1);
}

.modal_header{
	height: 50px;
	width: 100%;
	border-radius: 12px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #FF6666;
	display: flex;
	align-items: center;
	justify-content: center;

	.header_text{
		font-size: 24px;
		font-family: "Franklin Gothic Heavy", sans-serif;
		color: #fff;

	}
}

@media screen and (max-width: 450px) {

	.modal_content{
		width: 85vw;

	}
	
}