.button {
	color: #fff;
	padding: 12px 48px;
	background-color: #ff6666;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 24px;
	line-height: 24px;
}

@media screen and (max-width: 1440px) {
	.button {
		padding: 12px 36px;
		font-size: 18px;
	}
}

@media screen and (max-width: 1024px) {
	.button {
		padding: 12px 28px;
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.button {
		padding: 12px 24px;
		font-size: 14px;
	}
}
