.title {
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 36px;
   line-height: 40px;
   margin: 20px 0;
   text-align: center;
}

.cards_container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 30px;
}
