.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   background-image: url('../assets/background.gif');
   background-repeat: no-repeat;
   background-size: cover;

   h2 {
      text-align: center;
      color: #fff;
      margin-bottom: 60px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
}

.registration_wrapper {
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

.wrapper {
   max-width: 550px;
   width: 100%;
   border-radius: 50px;
   border: 2px solid #fffdfd;
   background: rgba(163, 253, 255, 0.2);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(10px);
   padding: 40px 113px 40px 113px;
}

form {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.icon {
   display: block;
   pointer-events: none;
   width: 20px;
   height: 20px;
}

.input_box {
   position: relative;
   width: 100%;
   height: 48px;
   border-bottom: 2px solid #101f40;

   label {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      font-size: 1em;
      color: #fff;
      font-weight: 500;
      transition: 0.4s;
   }

   input:focus ~ label,
   input:valid ~ label {
      top: -5px;
   }

   input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      font-weight: 600;
      padding: 0 35px 0 5px;
   }

   .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: #162938;
      line-height: 57px;
   }
}
.user_agreement {
   margin-bottom: 55px;
   display: inline-block;
   position: relative;
   cursor: pointer;
}

.user_agreement input {
   display: none;
}

.user_agreement .checkbox_icon {
   width: 20px;
   height: 20px;
   background-color: #000;
   border-radius: 3px;
   position: absolute;
   top: 0;
   left: 0;
}

.user_agreement input:checked + .checkbox_icon::before {
   content: '\2713';
   font-size: 14px;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.user_agreement {
   p {
      position: absolute;
      left: 30px;
      top: 5px;
   }

   label {
      color: #fff;
      font-family: 'Chakra Petch';
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;
   }
}

.user_agreement_span {
   color: #fff;
   text-decoration: underline;
}

.registration_btn {
   width: 100%;
   border-radius: 20px;
   background: #101031;
   padding: 9px 0;
   color: #fff;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   cursor: pointer;
}

.google_auth_btn {
   border-radius: 5px;
   width: 100%;
   padding: 5px 0;
}

.google_img {
   height: 25px;
   width: 25px;
}

@media screen and (max-width: 768px) {
   .container {
      background-image: url('../assets/background-phone.gif');
   }

   .wrapper {
      padding: 40px 50px 40px 50px;
      margin: 0 10px;
   }
}

@media screen and (max-width: 440px) {
   .wrapper {
      padding: 40px 20px 40px 20px;
      margin: 0 10px;
   }
}
