@mixin font-face($font-family, $font-weight: normal, $font-style: normal) {
   @font-face {
      font-family: $font-family;
      src:

		//! НЕ ВОРКАЕТ
			// url("../fonts/baloo-regular-webfont.woff2") format("woff2"),
			// url("../fonts/baloo-regular-webfont.woff") format("woff");

		//! ВОРКАЕТ
         url("./baloo-regular-webfont.woff2") format("woff2"),
         url("./baloo-regular-webfont.woff") format("woff");

      font-weight: #{$font-weight};
      font-style: #{$font-style};
   }
}

@mixin font-face-m($font-family, $font-weight: normal, $font-style: normal) {
   @font-face {
      font-family: $font-family;
      src:
         url("./ChakraPetch-Regular.woff2") format("woff2"),
         url("./ChakraPetch-Regular.woff") format("woff");
      font-weight: #{$font-weight};
      font-style: #{$font-style};
   }
}

@mixin font-face-franklin($font-family, $font-weight: normal, $font-style: normal) {
   @font-face {
      font-family: $font-family;
      src:
         url("./FranklinGothic-Heavy.woff2") format("woff2"),
         url("./FranklinGothic-Heavy.woff") format("woff");
      font-weight: #{$font-weight};
      font-style: #{$font-style};
   }
}

@mixin Font-Franklin-Gothic-Heavy($font-family) {
   @font-face {
      font-family: $font-family;
      src: url("./FranklinGothic-Heavy.ttf"), url("./FranklinGothic-Heavy.woff"), url("./FranklinGothic-Heavy.woff2");
   }
}
