:root {
	--font-family: "ITC Franklin Gothic";

	--body-font-size: 16px;
	--body-line-height: 20px;
	--body-font-weight: 400;

	--container-width: 1320px;

	$gray-black-background-color: #343a40;
}

//! -balooregular
//* +Baloo
// ITC Franklin Gothic
