:root {
   --font-family: "ITC Franklin Gothic";

   --body-font-size: 16px;
   --body-line-height: 20px;
   --body-font-weight: 400;

   --container-width: 1320px;

   --anitopia-color: #ff6666;
   --main-green: #3cce7b;
   --main-purple: #9954d8;
   --light-text: #fff;
   --dark-greyish-blue: #343a40;

   --border-underline: #e2e2e2;
}

//! -balooregular
//* +Baloo
// ITC Franklin Gothic
