:root {
   --font-family: "ITC Franklin Gothic";

   --body-font-size: 16px;
   --body-line-height: 20px;
   --body-font-weight: 400;

   --container-width: 1320px;

   --anitopia-color: #ff6666;
}

//! -balooregular
//* +Baloo
// ITC Franklin Gothic
